/*d1c330 - yellow color for website*/



@keyframes slide-up {
	from {margin-top:30vh;}
	to {margin-top:5vh;}
}

@media screen and (max-width:550px) {
	@keyframes slide-up {
		from {margin-top:20vh;}
		to {margin-top:5vh;}
	}
}

.slide-up {
	animation-name:slide-up;
	animation-duration:1s;
	animation-fill-mode:forwards;
}

@keyframes slide-down {
	to {margin-top:30vh;}
}

@media screen and (max-width:550px) {
	@keyframes slide-down {
		to {margin-top:20vh;}
	}
}

.slide-down {
	animation-name:slide-down;
	animation-duration:1s;
	animation-fill-mode:forwards;
}

.flex-container {
	display:flex;
	margin-top:30vh;
	flex-direction:column;
	margin-bottom:40px;
}

.rep-card {
	width:85vw;
	max-width:600px;
	min-width:300px;
	margin-left:auto;
	margin-right:auto;
	border-color:#516987;
}

.rep-form {
	width:70vw;
	max-width:525px;
	min-width:265px;
	margin-left:auto;
	margin-right:auto;
}

.off-card {
	width:80vw;
	max-width:565px;
	margin-left:auto;
	margin-right:auto;
	margin-top:15px;
}

.off-left {
	
}

.off-right {
	display:flex;
	align-items:center;
}

#off-photo {
	height:100px;
	width:100px;
}

.rep-btn-top {
	display:flex;
	margin-left:auto;
	margin-right:auto;
	background-color:#072e69;
	border-color:lightgrey;
	padding:3px;
	padding-left:5px;
	padding-right:5px;
}

.rep-btn {
	display:flex;
	margin-left:auto;
	margin-right:auto;
	background-color:#072e69;
	border-color:lightgrey;
	padding:3px;
	padding-left:5px;
	padding-right:5px;
}

.off-banner {
	width:85vw;
	max-width:600px;
	min-width:300px;
	padding:0px;
	padding-left:10px;
	padding-right:10px;
	height:40px;
	margin-left:auto;
	margin-right:auto;
	margin-top:15px;
	border-radius:0px;
	background-color:white;
	display:flex;
	justify-content:center;
	align-items:center;
	position:relative;
}

@media screen and (max-width:550px) {
	.rep-card {
		width:90vw;
	}
	.rep-form {
		width:80vw;
	}
	.flex-container {
		margin-top:20vh;
	}
	.off-card {
		width:85vw;
		min-width:280px;
	}
	.off-left {
		font-size:3.5vw;
	}
	.off-right {
		
	}
	.rep-btn {
		font-size:3.5vw;
	}
	#off-photo {
		width:18vw;
		min-width:60px;
	}
	.off-banner {
		width:90vw;
	}
}



.rep-btn:hover {
	background-color:#a31205;
	border-color:lightgrey;
}

.rep-hdr {
	text-align:center;
	background-color:#072e69;
	font-family:"Arial Black", Gadget, sans-serif;
	color:white;
	font-weight:bold;
	font-size:20px;
}



.sm-rep-btn {
	margin-left:15px;
	height:25px;
	padding-top:0px;
	padding-left:3px;
	padding-right:3px;
	color:#072e69;
	border-color:#072e69;
	
}

.sm-rep-btn:hover {
	background-color:#072e69;
	border-color:lightgrey;
}

.off-container {
	display:flex;
	flex-direction:row;
	justify-content:space-between;
}





.hide-div {
	display:none;
}

.show-div {
	display:block;
}

label {
	display:none;
}

a:hover{
	text-decoration:none;
}

body {
	background-color:#385070;                     
}









